%h1 Listado de Palabras
%table#palabras{ data: {source: "#{palabras_url( format: "json" )}"}}
  %thead
    %tr
      %th Palabra
      %th
  %tbody

%br

= link_to "Nueva Palabra", new_palabra_path, class: 'btn btn-primary'
